{% extends "bootstrap/base.html" %}

{% block title %}{{page_info.title}}{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="/static/vendor/bootswatch/superhero/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/flask_covid19.css') }}">
{% endblock %}

{% block scripts %}
{{super()}}
<script src="{{ url_for('static', filename='vendor/jquery/jquery.js')}} "></script>
<script src="{{ url_for('static', filename='vendor/popper.js/popper.js')}} "></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}} "></script>
<script src="{{ url_for('static', filename='vendor/fontawesome-free/js/all.js')}} "></script>
<script src="{{ url_for('static', filename='js/flask_covid19.js')}} "></script>
{% endblock %}

{% block html_attribs %} lang="en"{% endblock %}


{% block navbar %}
  {% include 'app_application/navigation/navbar.html' %}
{% endblock %}

{% block content %}
    {{super()}}
    <div class="container main-content app-main">
            <div class="row-cols-1">
                <h1 class="display-3">{{page_info.title}} | <small class="display-4">{{page_info.subtitle}}</small></h1>
            </div>
            <div class="row-cols-1">
                {% include 'app_application/fragments/fragment_flashed_messages.html' %}
            </div>
            <div class="row-cols-1">
                {% include 'app_application/navigation/navtabs.html' %}
            </div>
    </div>
{% endblock %}

