            <tr>
                <th scope="col">
                    <a href="{{ url_for( 'who.url_who_date_reported_all') }}">
                        date reported
                    </a>
                </th>
                <th scope="col">
                    deaths new
                </th>
                <th scope="col">
                    cases new
                </th>
                <th scope="col">
                    deaths cumulative
                </th>
                <th scope="col">
                    cases cumulative
                </th>
                <th scope="col">
                    <a href="{{ url_for( 'who.url_who_country_all') }}">
                        country code
                    </a>
                </th>
                <th scope="col">
                    <a href="{{ url_for( 'who.url_who_country_all') }}">
                        country
                    </a>
                </th>
                <th scope="col">
                    <a href="{{ url_for( 'who.url_who_region_all') }}">
                        region
                    </a>
                </th>
            </tr>
