                <div class="table-responsive">
                    <table class="table table-hover table-striped table-dark">
                        <thead class="table-secondary">
                            {% include 'rki/flat/rki_flat_table_head.html' %}
                        </thead>
                        <tbody>
                        {% for rki_flat in page_data.items %}
                            <tr>
                                <td>{{ rki_flat.datum }}</td>
                                <td>{{ rki_flat.location_group }}</td>
                                <td>{{ rki_flat.location }}</td>
                                <td>{{ rki_flat.altersgruppe }}</td>
                                <td>{{ rki_flat.geschlecht }}</td>
                                <!-- -->
                                <td>{{ rki_flat.fall_anzahl }}</td>
                                <td>{{ rki_flat.fall_neu }}</td>
                                <td>{{ rki_flat.todesfall_anzahl }}</td>
                                <td>{{ rki_flat.todesfall_neu }}</td>
                                <td>{{ rki_flat.genesen_anzahl }}</td>
                                <td>{{ rki_flat.genesen_neu }}</td>
                                <td>{{ rki_flat.ist_erkrankungsbeginn }}</td>
                                <td>{{ rki_flat.altersgruppe2 }}</td>
                                <!-- -->
                                <td>{{ rki_flat.meldedatum__datum }}</td>
                                <td>{{ rki_flat.meldedatum__year_month }}</td>
                                <td>{{ rki_flat.meldedatum__year_week }}</td>
                                <td>{{ rki_flat.meldedatum__year_day_of_year }}</td>
                                <!-- -->
                                <td>{{ rki_flat.ref_datum__datum }}</td>
                                <td>{{ rki_flat.ref_datum__year_month }}</td>
                                <td>{{ rki_flat.ref_datum__year_week }}</td>
                                <td>{{ rki_flat.ref_datum__year_day_of_year }}</td>
                                <td>{{ rki_flat.ref_datum__day_of_week }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot class="table-secondary">
                            {% include 'rki/flat/rki_flat_table_head.html' %}
                        </tfoot>
                    </table>
                </div>




