{% extends 'app_application/layout/page_layout.html' %}

{% block content %}
    {{super()}}
    {% include 'app_all/navigation/app_all_navtabs.html' %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="accordion" id="accordionCol">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                               Task: Full Update
                            </button>
                          </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionCol">
                            <div class="card-body">
                                <h4>Full Update</h4>
                                <div>
                                    <a class="btn btn-success btn-lg btn-block text-left"
                                       href="{{ url_for( 'app_all.url_task_all_download') }}"
                                       role="button">All :: files :: download</a>
                                    <a class="btn btn-info btn-lg btn-block text-left"
                                       href="{{ url_for( 'app_all.url_task_all_import') }}"
                                       role="button">All :: files :: import</a>
                                    <a class="btn btn-warning btn-lg btn-block text-left"
                                       href="{{ url_for( 'app_all.url_task_all_full_update_dimension_tables') }}"
                                       role="button">All :: full update :: dimension_tables</a>
                                    <a class="btn btn-secondary btn-lg btn-block text-left"
                                       href="{{ url_for( 'app_all.url_task_all_full_update_fact_table') }}"
                                       role="button">All :: full update :: fact_table</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'app_all.url_task_all_full_update') }}"
                                       role="button">All :: full update</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'app_all.url_who_delete_last_day') }}"
                                       role="button">All :: delete last day</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseLeftTwo">
                                    Task: Update
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionCol">
                            <div class="card-body">
                                <h4>Update</h4>
                                <div>
                                    <a class="btn btn-success btn-lg btn-block text-left"
                                       href="{{ url_for( 'app_all.url_task_all_download') }}"
                                       role="button">All :: files :: download</a>
                                    <a class="btn btn-info btn-lg btn-block text-left"
                                       href="{{ url_for( 'app_all.url_task_all_import') }}"
                                       role="button">All :: files :: import</a>
                                    <a class="btn btn-warning btn-lg btn-block text-left"
                                       href="{{ url_for( 'app_all.url_task_all_update_dimension_tables') }}"
                                       role="button">All :: update :: dimension_tables</a>
                                    <a class="btn btn-secondary btn-lg btn-block text-left"
                                       href="{{ url_for( 'app_all.url_task_all_update_fact_table') }}"
                                       role="button">All :: update :: fact_table</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'app_all.url_task_all_update') }}"
                                       role="button">All :: update</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'app_all.url_who_delete_last_day') }}"
                                       role="button">All :: delete last day</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                               Info
                            </button>
                          </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionCol">
                            <div class="card-body">
                                <h4>ALL :: Info</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
