{% extends 'app_application/layout/page_layout.html' %}

{% block navtabs %}
    {% include 'owid/navigation/owid_navtabs.html' %}
{% endblock %}

{% block content %}
    {{super()}}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="accordion" id="accordionCol">
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                               Reports 01
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <div class="d-grid gap-2 d-block">
                                    <a class="btn btn-success btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_download') }}"
                                       role="button">OWID :: download
                                    </a>
                                    <a class="btn btn-info btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_import') }}"
                                       role="button">OWID :: import
                                    </a>
                                    <a class="btn btn-warning btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update_dimension_tables') }}"
                                       role="button">OWID :: update :: dimension-tables
                                    </a>
                                    <a class="btn btn-secondary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update_fact_table') }}"
                                       role="button">OWID :: update :: fact-table
                                    </a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update') }}"
                                       role="button">OWID :: update
                                    </a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_owid_delete_last_day') }}"
                                       role="button">OWID :: delete last day
                                    </a>
                                    <a class="btn btn-success btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_download') }}"
                                       role="button">OWID :: download
                                    </a>
                                    <a class="btn btn-info btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_import') }}"
                                       role="button">OWID :: import
                                    </a>
                                    <a class="btn btn-warning btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update_dimension_tables') }}"
                                       role="button">OWID :: update :: dimension-tables
                                    </a>
                                    <a class="btn btn-secondary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update_fact_table') }}"
                                       role="button">OWID :: update :: fact-table
                                    </a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update') }}"
                                       role="button">OWID :: update
                                    </a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_owid_delete_last_day') }}"
                                       role="button">OWID :: delete last day
                                    </a>
                                    <a class="btn btn-success btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_download') }}"
                                       role="button">OWID :: download
                                    </a>
                                    <a class="btn btn-info btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_import') }}"
                                       role="button">OWID :: import
                                    </a>
                                    <a class="btn btn-warning btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update_dimension_tables') }}"
                                       role="button">OWID :: update :: dimension-tables
                                    </a>
                                    <a class="btn btn-secondary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update_fact_table') }}"
                                       role="button">OWID :: update :: fact-table
                                    </a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update') }}"
                                       role="button">OWID :: update
                                    </a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_owid_delete_last_day') }}"
                                       role="button">OWID :: delete last day
                                    </a>
                                    <a class="btn btn-success btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_download') }}"
                                       role="button">OWID :: download
                                    </a>
                                    <a class="btn btn-info btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_import') }}"
                                       role="button">OWID :: import
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Reports 02
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <div class="d-grid gap-2 d-block">
                                    <a class="btn btn-success btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_download') }}"
                                       role="button">OWID :: download</a>
                                    <a class="btn btn-info btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_import') }}"
                                       role="button">OWID :: import</a>
                                    <a class="btn btn-warning btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_full_update_dimension_tables') }}"
                                       role="button">OWID :: full update :: dimension-tables</a>
                                    <a class="btn btn-secondary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_full_update_fact_table') }}"
                                       role="button">OWID :: full update :: fact-table</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_full_update') }}"
                                       role="button">OWID :: full update</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_owid_delete_last_day') }}"
                                       role="button">OWID :: delete last day</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Reports 03
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <div class="d-grid gap-2 d-block">
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_owid_test_full_update_dimension_tables') }}"
                                       role="button">OWID :: Test :: OwidServiceUpdateFull.full_update_dimension_tables()</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_owid_test_owid_import_countries') }}"
                                       role="button">url_owid_test_owid_import_countries</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_owid_test_owid_import_get_new_dates_as_array') }}"
                                       role="button">url_owid_test_owid_import_get_new_dates_as_array</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_owid_test_owid_data_get_datum_of_all_owid_data') }}"
                                       role="button">url_owid_test_owid_data_get_datum_of_all_owid_data</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_owid_test_owid_data_get_datum_of_all_owid_import') }}"
                                       role="button">url_owid_test_owid_data_get_datum_of_all_owid_import</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_owid_test_owid_service_owid_import_get_new_dates_as_array') }}"
                                       role="button">url_owid_test_owid_service_owid_import_get_new_dates_as_array</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              Reports 04
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <a class="btn btn-primary" href="https://ourworldindata.org/coronavirus">
                                    https://ourworldindata.org/coronavirus
                                </a>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              Reports 05
                          </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <a class="btn btn-primary" href="https://ourworldindata.org/coronavirus">
                                    n.n
                                </a>
                            </div>
                        </div>
                    </div>

                      <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingSix">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                               Reports 06
                            </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <div class="d-grid gap-2 d-block">
                                    <a class="btn btn-success btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_download') }}"
                                       role="button">OWID :: download</a>
                                    <a class="btn btn-info btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_import') }}"
                                       role="button">OWID :: import</a>
                                    <a class="btn btn-warning btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update_dimension_tables') }}"
                                       role="button">OWID :: update :: dimension-tables</a>
                                    <a class="btn btn-secondary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update_fact_table') }}"
                                       role="button">OWID :: update :: fact-table</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update') }}"
                                       role="button">OWID :: update</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_owid_delete_last_day') }}"
                                       role="button">OWID :: delete last day</a>
                                </div>
                            </div>
                        </div>
                    </div>


                      <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingSeven">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                               Reports 07
                            </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <div class="d-grid gap-2 d-block">
                                    <a class="btn btn-success btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_download') }}"
                                       role="button">OWID :: download</a>
                                    <a class="btn btn-info btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_import') }}"
                                       role="button">OWID :: import</a>
                                    <a class="btn btn-warning btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update_dimension_tables') }}"
                                       role="button">OWID :: update :: dimension-tables</a>
                                    <a class="btn btn-secondary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update_fact_table') }}"
                                       role="button">OWID :: update :: fact-table</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update') }}"
                                       role="button">OWID :: update</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_owid_delete_last_day') }}"
                                       role="button">OWID :: delete last day</a>
                                </div>
                            </div>
                        </div>
                    </div>


                      <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingEight">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                               Reports 08
                            </button>
                        </h2>
                        <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <div class="d-grid gap-2 d-block">
                                    <a class="btn btn-success btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_download') }}"
                                       role="button">OWID :: download</a>
                                    <a class="btn btn-info btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_import') }}"
                                       role="button">OWID :: import</a>
                                    <a class="btn btn-warning btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update_dimension_tables') }}"
                                       role="button">OWID :: update :: dimension-tables</a>
                                    <a class="btn btn-secondary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update_fact_table') }}"
                                       role="button">OWID :: update :: fact-table</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update') }}"
                                       role="button">OWID :: update</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_owid_delete_last_day') }}"
                                       role="button">OWID :: delete last day</a>
                                </div>
                            </div>
                        </div>
                    </div>

                      <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingNine">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                               Reports 09
                            </button>
                        </h2>
                        <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <div class="d-grid gap-2 d-block">
                                    <a class="btn btn-success btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_download') }}"
                                       role="button">OWID :: download</a>
                                    <a class="btn btn-info btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_import') }}"
                                       role="button">OWID :: import</a>
                                    <a class="btn btn-warning btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update_dimension_tables') }}"
                                       role="button">OWID :: update :: dimension-tables</a>
                                    <a class="btn btn-secondary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update_fact_table') }}"
                                       role="button">OWID :: update :: fact-table</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update') }}"
                                       role="button">OWID :: update</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_owid_delete_last_day') }}"
                                       role="button">OWID :: delete last day</a>
                                </div>
                            </div>
                        </div>
                    </div>

                      <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingTen">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
                               Reports 10
                            </button>
                        </h2>
                        <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <div class="d-grid gap-2 d-block">
                                    <a class="btn btn-success btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_download') }}"
                                       role="button">OWID :: download</a>
                                    <a class="btn btn-info btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_import') }}"
                                       role="button">OWID :: import</a>
                                    <a class="btn btn-warning btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update_dimension_tables') }}"
                                       role="button">OWID :: update :: dimension-tables</a>
                                    <a class="btn btn-secondary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update_fact_table') }}"
                                       role="button">OWID :: update :: fact-table</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_task_owid_update') }}"
                                       role="button">OWID :: update</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'owid.url_owid_delete_last_day') }}"
                                       role="button">OWID :: delete last day</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
         </div>
     </div>

{% endblock %}
