
                        <tr>
                            <th scope="col">date reported</th>
                            <th scope="col">country</th>
                            <th scope="col">country code</th>
                            <th scope="col">who region</th>
                            <th scope="col">new cases</th>
                            <th scope="col">cumulative cases</th>
                            <th scope="col">new deaths</th>
                            <th scope="col">cumulative deaths</th>

                            <th scope="col">datum</th>
                            <th scope="col">year month</th>
                            <th scope="col">year week</th>
                            <th scope="col">year day of year</th>
                            <th scope="col">processed update</th>
                            <th scope="col">processed full update</th>

                            <th scope="col">month</th>
                            <th scope="col">day of month</th>
                            <th scope="col">day of week</th>
                            <th scope="col">week of year</th>
                            <th scope="col">day of year</th>
                            <th scope="col">location</th>
                            <th scope="col">location group</th>
                            <th scope="col">location code</th>
                        </tr>
