{% extends 'app_application/layout/page_layout.html' %}

{% block content %}
    {{super()}}
    {% include 'divi/navigation/divi_navtabs.html' %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            Dashboard
                        </div>
                        <div class="card-text">
                            divi Coronavirus Disease (COVID-19)
                        </div>
                        <div class="card-text">
                            <a class="btn btn-primary" href="https://covid19.divi.int/">https://covid19.divi.int</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">
                            Pandemic
                        </div>
                        <div class="card-text">
                            divi Coronavirus Disease (COVID-19)
                        </div>
                        <div class="card-text">
                            <a class="btn btn-primary" href="https://www.divi.int/emergencies/diseases/novel-coronavirus-2019">
                                novel-coronavirus-2019
                            </a>
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>
{% endblock %}




