{% extends 'app_web/layout/page_layout.html' %}

{% block navtabs %}
    {% include 'owid/navigation/owid_navtabs.html' %}
{% endblock %}

{% block content %}
    {{super()}}

    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'owid/date_reported/cases/owid_date_reported_one_cases_cumulative_pagination.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include 'owid/owid_data/owid_data_table.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include 'owid/date_reported/cases/owid_date_reported_one_cases_cumulative_pagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_container %}
    <div>
        {% for error in errors %}
            <h4>{{ error }}</h4>
        {% endfor %}
    </div>
{% endblock %}
