                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdownMenuLinkDataEcdc" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ECDC
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkDataEcdc">
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'ecdc.url_ecdc_info') }}">ECDC Info</a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'ecdc.url_ecdc_imported') }}">
                                ECDC imported
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'ecdc.url_ecdc_flat') }}">
                                ECDC flat
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'ecdc.url_ecdc_date_reported_all') }}">
                                ECDC date_reported
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'ecdc.url_ecdc_continent_all') }}">
                                ECDC continent
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'ecdc.url_ecdc_country_all') }}">
                                ECDC country
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'ecdc.url_ecdc_country_germany') }}">
                                ECDC Germany
                            </a>
                        </li>
                    </ul>
                </li>