    <table class="table table-hover table-striped table-dark">
        <thead class="table-secondary">
            <tr>
                <th scope="col">
                    <a href="{{ url_for('divi.url_divi_date_reported_all') }}">
                        date reported
                    </a>
                </th>
                <th scope="col">
                    deaths new
                </th>
                <th scope="col">
                    cases new
                </th>
                <th scope="col">
                    deaths cumulative
                </th>
                <th scope="col">
                    cases cumulative
                </th>
                <th scope="col">
                    <a href="{{ url_for('divi.url_divi_country_all') }}">
                        country code
                    </a>
                </th>
                <th scope="col">
                    <a href="{{ url_for('divi.url_divi_country_all') }}">
                        country
                    </a>
                </th>
                <th scope="col">
                    <a href="{{ url_for('divi.url_divi_region_all') }}">
                        region
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% for divi_global_data in page_data.items %}
            <tr>
                <th>
                    <a href="/divi/date_reported/{{ divi_global_data.date_reported.id }}">
                        {{ divi_global_data.date_reported }}
                    </a>
                </th>
                <td>{{ divi_global_data.deaths_new }}</td>
                <td>{{ divi_global_data.cases_new }}</td>
                <td>{{ divi_global_data.deaths_cumulative }}</td>
                <td>{{ divi_global_data.cases_cumulative }}</td>
                <td>
                    <a href="/divi/country/{{ divi_global_data.country.id }}">
                        {{ divi_global_data.country.country_code }}
                    </a>
                </td>
                <td>
                    <a href="/divi/country/{{ divi_global_data.country.id }}">
                        {{ divi_global_data.country.country }}
                    </a>
                </td>
                <th>
                    <a href="/divi/region/{{ divi_global_data.country.region.id }}">
                        {{ divi_global_data.country.region.region }}
                    </a>
                </th>
            </tr>
        {% endfor %}
        </tbody>
    </table>