                <div class="table-responsive">
                <table class="table table-hover table-striped table-dark">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">datum started</th>
                            <th scope="col">datum finished</th>
                            <th scope="col">sector</th>
                            <th scope="col">task name</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for all_task in page_data.items %}
                        <tr>
                            <td>{{ all_task.datum_started }}</td>
                            <td>{{ all_task.datum_finished }}</td>
                            <td>{{ all_task.sector }}</td>
                            <td>{{ all_task.task_name }}</td>
                            <td>&nbsp;</td>
                            <td>
                              {% if all_task.data1_txt != 'default' %}
                                {{ all_task.data1_txt }}
                              {% endif %}
                            </td>
                            <td>
                              {% if all_task.data1_code != 0 %}
                                {{ all_task.data1_code }}
                              {% endif %}
                            </td>
                            <td>
                              {% if all_task.data2_txt != 'default' %}
                                {{ all_task.data2_txt }}
                              {% endif %}
                            </td>
                            <td>
                              {% if all_task.data2_code != 0 %}
                                {{ all_task.data2_code }}
                              {% endif %}
                            </td>
                            <td>
                              {% if all_task.data3_txt != 'default' %}
                                {{ all_task.data3_txt }}
                              {% endif %}
                            </td>
                            <td>
                              {% if all_task.data3_code != 0 %}
                                {{ all_task.data3_code }}
                              {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot class="table-secondary">
                        <tr>
                            <th scope="col">datum started</th>
                            <th scope="col">datum finished</th>
                            <th scope="col">sector</th>
                            <th scope="col">task name</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </tfoot>
                </table>
                </div>
