

    <div class="container">
        <div class="row-cols-1">
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'divi.url_divi_info') }}">DIVI Info</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'divi.url_divi_tasks') }}">DIVI tasks</a>
                    </li>
                    {% endif %}
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'divi.url_divi_mytest') }}">DIVI Tests</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'divi.url_divi_date_reported_all') }}">DIVI Date Reported</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'divi.url_divi_germany') }}">DIVI Germany</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'divi.url_divi_region_all') }}">DIVI Regions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'divi.url_divi_country_all') }}">DIVI Countries</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'divi.url_divi_imported') }}">DIVI imported</a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>