                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'ecdc.url_ecdc_date_reported_all') }}">
                          date_reported
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'ecdc.url_ecdc_continent_all') }}">
                          continent
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'ecdc.url_ecdc_country_all') }}">
                          country
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'ecdc.url_ecdc_country_germany') }}">
                          Germany
                        </a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'ecdc.url_ecdc_imported') }}">
                          imported
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'ecdc.url_ecdc_info') }}">
                          ECDC
                        </a>
                    </li>
                </ul>
