                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'ecdc.url_ecdc_date_reported_all') }}">
                          date_reported
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'ecdc.url_ecdc_continent_all') }}">
                          continent
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'ecdc.url_ecdc_country_all') }}">
                          country
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'ecdc.url_ecdc_country_germany') }}">
                          Germany
                        </a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'ecdc.url_ecdc_imported') }}">
                          <i class="fas fa-inbox"></i> imported
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="#">
                         <i class="fas fa-chart-bar"></i> Reports
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'ecdc.url_ecdc_info') }}">
                          <i class="fas fa-play-circle"></i> ECDC
                        </a>
                    </li>
                </ul>
