                <li class="dropdown">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="javascript:void(0)">
                        DIVI<i class="glyphicon glyphicon-chevron-down small"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'divi.url_divi_date_reported_all') }}">
                                DIVI
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'divi.url_divi_germany') }}">
                                DIVI Germany
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'divi.url_divi_region_all') }}">
                                DIVI Regions
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'divi.url_divi_date_reported_all') }}">
                                DIVI Date Reported
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'divi.url_divi_country_all') }}">
                                DIVI Countries
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'divi.url_divi_imported') }}">
                                DIVI imported
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'divi.url_divi_info') }}">
                                DIVI Info
                            </a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'divi.url_divi_tasks') }}">
                                DIVI Tasks
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>