            <tr>
                <th scope="col" class="text-center table-dark" nowrap>&nbsp;</th>

                <th scope="col" class="text-center table-dark" colspan="1">Dosen</th>

                <th scope="col" class="text-center table-dark" colspan="3">Dosen</th>

                <th scope="col" class="text-center table-dark" colspan="2">Personen</th>

                <th scope="col" class="text-center table-dark" colspan="2">Impfquote</th>

                <th scope="col" class="text-center table-dark" colspan="12">Indikation</th>
            </tr>
            <tr>
                <th scope="col" class="text-center table-dark" nowrap>&nbsp;</th>

                <th scope="col" class="text-center table-secondary">Differenz</th>

                <th scope="col" class="text-center table-warning" colspan="3">kumulativ</th>

                <th scope="col" class="text-center table-light" colspan="2">kumulativ</th>

                <th scope="col" class="text-center table-danger" colspan="2">&nbsp;</th>

                <th scope="col" class="text-center table-light" colspan="3">Pflegeheim</th>
                <th scope="col" class="text-center table-secondary" colspan="3">Alter</th>
                <th scope="col" class="text-center table-light" colspan="3">Beruf</th>
                <th scope="col" class="text-center table-secondary" colspan="3">Medizinisch</th>
            </tr>
            <tr>
                <th scope="col" class="text-center table-dark" nowrap>Datum</th>

                <th scope="col" class="text-center table-secondary">zum Vortag</th>

                <th scope="col" class="text-center table-warning">Alle</th>
                <th scope="col" class="text-center table-warning">Biontech</th>
                <th scope="col" class="text-center table-warning">Moderna</th>

                <th scope="col" class="text-center table-light">erst</th>
                <th scope="col" class="text-center table-light">voll</th>

                <th scope="col" class="text-center table-danger">erst</th>
                <th scope="col" class="text-center table-danger">voll</th>

                <th scope="col" class="text-center table-light">Dosen</th>
                <th scope="col" class="text-center table-light">erst</th>
                <th scope="col" class="text-center table-light">voll</th>

                <th scope="col" class="text-center table-secondary">Dosen</th>
                <th scope="col" class="text-center table-secondary">erst</th>
                <th scope="col" class="text-center table-secondary">voll</th>

                <th scope="col" class="text-center table-light">dosen</th>
                <th scope="col" class="text-center table-light">erst</th>
                <th scope="col" class="text-center table-light">voll</th>

                <th scope="col" class="text-center table-secondary">Dosen</th>
                <th scope="col" class="text-center table-secondary">erst</th>
                <th scope="col" class="text-center table-secondary">voll</th>
            </tr>
            <!--
            <tr>
                <th scope="col">datum</th>

                <th scope="col">dosen differenz zum vortag</th>
                <th scope="col">dosen kumulativ</th>
                <th scope="col">dosen kumulativ biontech</th>
                <th scope="col">dosen kumulativ moderna</th>

                <th scope="col">personen kumulativ erst</th>
                <th scope="col">personen kumulativ voll</th>

                <th scope="col">impf quote erst</th>
                <th scope="col">impf quote voll</th>

                <th scope="col">indikation alter dosen</th>
                <th scope="col">indikation alter erst</th>
                <th scope="col">indikation alter voll</th>

                <th scope="col">indikation pflegeheim dosen</th>
                <th scope="col">indikation pflegeheim erst</th>
                <th scope="col">indikation pflegeheim voll</th>

                <th scope="col">indikation dosen beruf</th>
                <th scope="col">indikation beruf erst</th>
                <th scope="col">indikation beruf voll</th>

                <th scope="col">indikation medizinisch dosen</th>
                <th scope="col">indikation medizinisch erst</th>
                <th scope="col">indikation medizinisch voll</th>
            </tr>
            -->