{% extends 'app_application/layout/page_layout.html' %}

{% block navtabs %}
    {% include 'app_all/navigation/app_all_navtabs.html' %}
{% endblock %}

{% block content %}
    {{super()}}

    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'app_all/notification/app_all_notification_pagination.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include 'app_all/notification/app_all_notification_table.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include 'app_all/notification/app_all_notification_pagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer_container %}
    <div>
        {% for error in errors %}
            <h4>{{ error }}</h4>
        {% endfor %}
    </div>
{% endblock %}
