                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'usr.url_user_info') }}">
                          <i class="fas fa-user"></i> User Info
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'usr.login') }}">
                          Login
                        </a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'usr.profile') }}">
                          Profile
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'usr.logout') }}">
                          <i class="fas fa-sign-out-alt"></i> Logout
                        </a>
                    </li>
                    {% endif %}
                </ul>
