            <tr>
                <th scope="col">date reported</th>
                <th scope="col">date rep year</th>
                <th scope="col">date rep month</th>
                <th scope="col">date rep day</th>
                <th scope="col">cases weekly</th>
                <th scope="col">deaths weekly</th>
                <th scope="col">population data 2019</th>
                <th scope="col">countries and territories</th>
                <th scope="col">geo id</th>
                <th scope="col">country territory code</th>
                <th scope="col">continent</th>
                <th scope="col">notification rate per 100000 population 14days</th>
            </tr>
