{% extends 'app_application/layout/page_layout.html' %}

{% block navtabs %}
    {% include 'usr/navigation/usr_navtabs.html' %}
{% endblock %}


{% block content %}
    {{super()}}

    <div class="container">
        <div class="row">
          <div class="card">
            <div class="card-body">
              <h3 class="card-title"><i class="fas fa-sign-in-alt"></i> Login</h3>
              <div class="card-text">
                <form action=""
                  method="POST"
                  role="form"
                  class="admin-form"
                  enctype="multipart/form-data">
                <div class="col">
                    {{ form.email.label(class="form-label",required=True)  }}
                    <strong style="color: red">&#42;</strong>
                    {{ form.email(size=35,class="form-control") }}
                    {% for error in form.email.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="col">
                    {{ form.password.label(class="form-label",required=True)  }}
                    <strong style="color: red">&#42;</strong>
                    {{ form.password(size=35,class="form-control") }}
                    {% for error in form.password.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
                <div class="col-6">
                    <div class="form-check">
                        {{ form.accept_rules(class="form-check-input") }}
                        {{ form.accept_rules.label(class="form-check-label",required=True) }}
                        <strong style="color: red">&#42;</strong>
                        {% for error in form.accept_rules.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-check">
                        {{ form.remember_me(class="form-check-input") }}
                        {{ form.remember_me.label(class="form-check-label") }}
                        {% for error in form.accept_rules.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-12">
                    <hr>
                    {{ form.hidden_tag() }}
                    <div class="submit-row">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </div>
            </form>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}
