    <div class="table-responsive">
    <table class="table table-hover table-striped table-dark">
        <thead class="table-secondary">
            {% include 'owid/owid_data/owid_data_table_head.html' %}
        </thead>
        <tbody>
        {% for owid in page_data.items %}
            <tr>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid.location.id) }}">
                    {{ owid.location.location_code }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_continent_one', continent_id=owid.location.location_group.id) }}">
                        {{ owid.location.location_group.location_group }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid.location.id) }}">
                    {{ owid.location.location }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_date_reported_one', date_reported_id=owid.date_reported.id) }}">
                    {{ owid.date_reported }}
                    </a>
                </td>
                <td>{{ owid.total_cases }}</td>
                <td>{{ owid.new_cases }}</td>
                <td>{{ owid.new_cases_smoothed }}</td>
                <td>{{ owid.total_deaths }}</td>
                <td>{{ owid.new_deaths }}</td>
                <td>{{ owid.new_deaths_smoothed }}</td>
                <td>{{ owid.total_cases_per_million }}</td>
                <td>{{ owid.new_cases_per_million }}</td>
                <td>{{ owid.new_cases_smoothed_per_million }}</td>
                <td>{{ owid.total_deaths_per_million }}</td>
                <td>{{ owid.new_deaths_per_million }}</td>
                <td>{{ owid.new_deaths_smoothed_per_million }}</td>
                <td>{{ owid.reproduction_rate }}</td>
                <td>{{ owid.icu_patients }}</td>
                <td>{{ owid.icu_patients_per_million }}</td>
                <td>{{ owid.hosp_patients }}</td>
                <td>{{ owid.hosp_patients_per_million }}</td>
                <td>{{ owid.weekly_icu_admissions }}</td>
                <td>{{ owid.weekly_icu_admissions_per_million }}</td>
                <td>{{ owid.weekly_hosp_admissions }}</td>
                <td>{{ owid.weekly_hosp_admissions_per_million }}</td>
                <td>{{ owid.new_tests }}</td>
                <td>{{ owid.total_tests }}</td>
                <td>{{ owid.total_tests_per_thousand }}</td>
                <td>{{ owid.new_tests_per_thousand }}</td>
                <td>{{ owid.new_tests_smoothed }}</td>
                <td>{{ owid.new_tests_smoothed_per_thousand }}</td>
                <td>{{ owid.positive_rate }}</td>
                <td>{{ owid.tests_per_case }}</td>
                <td>{{ owid.tests_units }}</td>
                <td>{{ owid.total_vaccinations }}</td>
                <td>{{ owid.people_vaccinated }}</td>
                <td>{{ owid.people_fully_vaccinated }}</td>
                <td>{{ owid.new_vaccinations }}</td>
                <td>{{ owid.new_vaccinations_smoothed }}</td>
                <td>{{ owid.total_vaccinations_per_hundred }}</td>
                <td>{{ owid.people_vaccinated_per_hundred }}</td>
                <td>{{ owid.people_fully_vaccinated_per_hundred }}</td>
                <td>{{ owid.new_vaccinations_smoothed_per_million }}</td>
                <td>{{ owid.stringency_index }}</td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid.location.id) }}">
                    {{ owid.location.population }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid.location.id) }}">
                    {{ owid.location.population_density }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid.location.id) }}">
                    {{ owid.location.median_age }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid.location.id) }}">
                    {{ owid.location.aged_65_older }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid.location.id) }}">
                        {{ owid.location.aged_70_older }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid.location.id) }}">
                    {{ owid.location.gdp_per_capita }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid.location.id) }}">
                        {{ owid.location.extreme_poverty }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid.location.id) }}">
                        {{ owid.location.cardiovasc_death_rate }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid.location.id) }}">
                    {{ owid.location.diabetes_prevalence }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid.location.id) }}">
                    {{ owid.location.female_smokers }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid.location.id) }}">
                        {{ owid.location.male_smokers }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid.location.id) }}">
                    {{ owid.location.handwashing_facilities }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid.location.id) }}">
                        {{ owid.location.hospital_beds_per_thousand }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid.location.id) }}">
                    {{ owid.location.life_expectancy }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid.location.id) }}">
                    {{ owid.location.human_development_index }}
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot class="table-secondary">
            {% include 'owid/owid_data/owid_data_table_head.html' %}
        </tfoot>
    </table>
    </div>