    <div class="container">
        <div class="row">
            <div class="col">
                <nav>
                    <ul class="nav nav-tabs">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for( 'web_admin.url_admin_database_table_row_count') }}">
                              <i class="fas fa-database"></i> DB Row Count
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for( 'web_admin.url_admin_database_import_status') }}">
                              <i class="fas fa-database"></i> DB Import Status
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for( 'url_admin_index') }}">
                                <i class="fas fa-database"></i> flask admin
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for( 'web_admin.url_admin_info') }}">
                              <i class="fas fa-play-circle"></i> Admin
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
