    <div class="container">
        <div class="row">
            <div class="col">
                <nav>
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for( 'app_admin.url_admin_info') }}">
                              Admin
                            </a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for( 'app_admin.url_admin_tasks') }}">
                              Tasks
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for( 'url_database_table_row_count') }}">
                              Status
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"
                               href="{{ url_for( 'url_admin_index') }}">
                                flask admin
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
