                        <tr>
                            <th scope="col">date reported</th>
                            <th scope="col">country</th>
                            <th scope="col">country code</th>
                            <th scope="col">who region</th>
                            <th scope="col">new cases</th>
                            <th scope="col">cumulative cases</th>
                            <th scope="col">new deaths</th>
                            <th scope="col">cumulative deaths</th>
                        </tr>
