                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdownMenuLinkDataOwid" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        OWID
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkDataOwid">
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'owid.url_owid_date_reported_all') }}">
                                OWID Date Reported
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'owid.url_owid_info') }}">
                                OWID Info
                            </a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'owid.url_owid_imported') }}">
                                OWID imported
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>