alabaster==0.7.12
alembic==1.6.2
amqp==5.0.6
appdirs==1.4.4
atomicwrites==1.4.0
attrs==21.2.0
Babel==2.9.1
backports.entry-points-selectable==1.1.0
banal==1.0.6
billiard==3.6.4.0
celery==5.1.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
charset-normalizer==2.0.3
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
cryptography==3.3.2
cycler==0.10.0
dataframetodb==0.1
dataset==1.5.0
distlib==0.3.1
dnspython==1.16.0
docutils==0.17.1
dominate==2.6.0
email-validator==1.1.2
eventlet==0.31.0
filelock==3.0.12
Flask==1.1.4
Flask-Admin==1.5.8
Flask-BS4==4.5.3.0
Flask-Cors==3.0.10
flask-dictabase==1.1.3
Flask-Login==0.5.0
flask-login-dictabase-blueprint==1.1.4
Flask-Migrate==3.0.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
greenlet==1.1.0
idna==2.10
imagesize==1.2.0
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.3
kiwisolver==1.3.1
kombu==5.1.0
Mako==1.1.4
mariadb==1.0.6
MarkupSafe==1.1.1
matplotlib==3.4.2
msgpack==1.0.2
mysql-connector-python==8.0.25
mysqlclient==2.0.3
mysqldb-wrapper==0.9.0
numpy==1.20.3
packaging==20.9
Pallets-Sphinx-Themes==1.2.3
pandas==1.2.4
pangres==2.3
patsy==0.5.1
pep517==0.10.0
Pillow==8.3.2
pip-tools==6.1.0
pipenv==2021.5.29
platformdirs==2.1.0
pluggy==0.13.1
prompt-toolkit==3.0.19
protobuf==3.17.2
py==1.10.0
pyaml==20.4.0
pycparser==2.20
Pygments==2.9.0
pyparsing==2.4.7
pytest==6.2.4
pytest-flask==1.2.0
pytest-flask-sqlalchemy==1.0.2
pytest-mock==3.6.1
pytest-runner==5.3.0
python-dateutil==2.8.1
python-dotenv==0.17.1
python-editor==1.0.4
python-magic==0.4.22
pytoolbox==14.0.0
pytz==2021.1
pywin32==301
PyYAML==5.4.1
redis==3.5.3
requests==2.25.1
scipy==1.6.3
six==1.16.0
snowballstemmer==2.1.0
Sphinx==3.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
SQLAlchemy==1.4.15
sqlalchemy-mixins==1.4
statsmodels==0.12.2
toml==0.10.2
tomli==1.1.0
urllib3==1.26.5
vine==5.0.0
virtualenv==20.4.7
virtualenv-clone==0.5.4
visitor==0.1.3
wcwidth==0.2.5
Werkzeug==1.0.1
wget==3.2
WTForms==2.3.3
