
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdownMenuLinkDataVaccination" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Vaccination
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkDataVaccination">
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'vaccination.url_vaccination_info') }}">
                                Vaccination (Timeline Germany) :: Info
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'vaccination.url_vaccination_data') }}">
                                Vaccination (Timeline Germany) :: Data
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'vaccination.url_vaccination_imported') }}">
                                Vaccination (Timeline Germany) :: imported
                            </a>
                        </li>
                    </ul>
                </li>