
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'vaccination.url_vaccination_info') }}">
                            Vaccination
                        </a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'vaccination.url_vaccination_imported') }}">
                            imported
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'vaccination.url_vaccination_data') }}">
                            Data
                        </a>
                    </li>
                </ul>
