{% extends 'app_web/layout/page_layout.html' %}

{% block navtabs %}
    {% include 'vaxx/navigation/vaccination_navtabs.html' %}
{% endblock %}

{% block content %}
    {{super()}}

    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'vaxx/flat/vaccination_flat_pagination.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include 'vaxx/flat/vaccination_flat_table.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include 'vaxx/flat/vaccination_flat_pagination.html' %}
            </div>
        </div>
    </div>

{% endblock %}
