{% extends 'app_application/layout/page_layout.html' %}

{% block navtabs %}
    {% include 'ecdc/navigation/ecdc_navtabs.html' %}
{% endblock %}

{% block content %}
    {{super()}}

  <div class="container">
        <div class="row">
            <div class="col">
                <div class="accordion" id="accordionCol">
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                               Task: Full Update
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <div class="d-grid gap-2 d-block">
                                    <a class="btn btn-success btn-lg btn-block text-left"
                                       href="{{ url_for( 'ecdc.url_ecdc_task_download') }}"
                                       role="button">ECDC :: download</a>
                                    <a class="btn btn-info btn-lg btn-block text-left"
                                       href="{{ url_for( 'ecdc.url_ecdc_task_import') }}"
                                       role="button">ECDC :: import</a>
                                    <a class="btn btn-warning btn-lg btn-block text-left"
                                       href="{{ url_for( 'ecdc.url_ecdc_task_full_update_dimension_tables') }}"
                                       role="button">ECDC :: full update :: dimension-tables</a>
                                    <a class="btn btn-secondary btn-lg btn-block text-left"
                                       href="{{ url_for( 'ecdc.url_task_ecdc_full_update_fact_table') }}"
                                       role="button">ECDC :: full update :: fact-table :: full</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'ecdc.url_task_ecdc_full_update') }}"
                                       role="button">ECDC :: update :: full</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Tests
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <div class="d-grid gap-2 d-block">
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'ecdc.url_ecdc_test_ecdc_import_countries') }}"
                                       role="button">url_who_test who_import countries</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'ecdc.url_ecdc_test_ecdc_import_get_new_dates_as_array') }}"
                                       role="button">url_who_test who_import get_new_dates_as_array</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'ecdc.url_ecdc_test_ecdc_data_get_datum_of_all_ecdc_data') }}"
                                       role="button">url_who_test who_data get_datum_of_all_who_data</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'ecdc.url_ecdc_test_ecdc_data_get_datum_of_all_ecdc_import') }}"
                                       role="button">url_who_test who_data get_datum_of_all_who_import</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'ecdc.url_ecdc_test_ecdc_service_ecdc_import_get_new_dates_as_array') }}"
                                       role="button">url_who_test who_service who_import get_new_dates_as_array</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Info: ECDC: European Centre for Disease Prevention and Control
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <p>An agency of the European Union</p>
                                <p>COVID-19 pandemic</p>
                                <p>
                                    <a href="https://www.ecdc.europa.eu/en/covid-19-pandemic">
                                        https://www.ecdc.europa.eu/en/covid-19-pandemic
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              Info: ECDC: Weekly maps in support of the Council Recommendation
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                               <a href="https://www.ecdc.europa.eu/en/covid-19/situation-updates/weekly-maps-coordinated-restriction-free-movement">
                                   Maps in support of the Council Recommendation on a coordinated approach to the restriction
                                   of free movement in response to the COVID-19 pandemic in the EU/EEA
                               </a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              Info: ECDC: COVID-19 situation update for the EU/EEA, weekly
                          </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <p>
                                   <a href="https://www.ecdc.europa.eu/en/cases-2019-ncov-eueea">
                                       COVID-19 situation update for the EU/EEA, weekly</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingSix">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                              Info: Situation updates on COVID-19
                          </button>
                        </h2>
                        <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <p>
                                   <a href="https://www.ecdc.europa.eu/en/cases-2019-ncov-eueea">
                                       Overview of all the data available on the COVID-19 pandemic.</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingSeven">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                              Info: Download COVID-19 datasets
                          </button>
                        </h2>
                        <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <p>
                                   <a href="https://www.ecdc.europa.eu/en/covid-19/data">
                                       Download COVID-19 datasets
                                   </a>
                                </p>
                                <p class="fa-bold font-weight-bolder">
                                    ECDC switched to a weekly reporting schedule for the COVID-19 situation worldwide and in the EU/EEA
                                    and the UK on 17 December 2020. Hence, all daily updates have been discontinued from 14 December.
                                    ECDC will publish updates on the number of cases and deaths reported worldwide and aggregated
                                    by week every Thursday. The weekly data will be available as downloadable files in the following formats:
                                    XLSX, CSV, JSON and XML.
                                </p>
                                <p>
                                    With the switch from daily to weekly reporting, ECDC will shift its Epidemic Intelligence (EI) resources
                                    from case counting to signal/event detection and resume its regular EI activities, which will include
                                    COVID-19 signal and event detection and analysis but also other potential threats.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>

{% endblock %}

{% block footer_container %}
    <div>
        {% for error in errors %}
            <h4>{{ error }}</h4>
        {% endfor %}
    </div>
{% endblock %}
