                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdownMenuLinkDataUser"
                       role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                      <i class="fas fa-user"></i>
                      <i class="glyphicon glyphicon-chevron-down small"></i>
                    </a>
                    <ul class="dropdown-menu"
                        aria-labelledby="navbarDropdownMenuLinkDataUser">
                        <li>
                            <a class="dropdown-item"
                               href="{{ url_for( 'app_admin.url_admin_info') }}">
                                <i class="fas fa-cog"></i> Admin
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="{{ url_for( 'usr.url_user_info') }}">
                               <i class="fas fa-user"></i> User Info
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="{{ url_for( 'usr.login') }}">
                             Login
                            </a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li>
                          <a class="dropdown-item"
                             href="{{ url_for( 'usr.profile') }}">
                            Profile
                          </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item"
                               href="{{ url_for( 'usr.logout') }}">
                              <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </li>
                        {% endif %}

                    </ul>
                </li>
