                        <tr>
                            <th scope="col">bundesland</th>
                            <th scope="col">landkreis</th>
                            <th scope="col">altersgruppe</th>
                            <th scope="col">geschlecht</th>
                            <th scope="col">anzahl fall</th>
                            <th scope="col">anzahl todesfall</th>
                            <th scope="col">meldedatum</th>
                            <th scope="col">neuer fall</th>
                            <th scope="col">neuer todesfall</th>
                            <th scope="col">neu genesen</th>
                            <th scope="col">anzahl genesen</th>
                            <th scope="col">ist erkrankungsbeginn</th>
                            <th scope="col">altersgruppe2</th>
                        </tr>

