                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'rki.url_rki_date_reported_all') }}">
                            Date Reported
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'rki.url_rki_bundesland_all') }}">
                            Bundesland
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'rki.url_rki_altersgruppe_all') }}">
                            Altersgruppe
                        </a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('rki.url_rki_imported') }}">
                            <i class="fas fa-inbox"></i> imported
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="#">
                         <i class="fas fa-chart-bar"></i> Reports
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('rki.url_rki_info') }}">
                           <i class="fas fa-play-circle"></i> RKI
                        </a>
                    </li>
                </ul>
