                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'owid.url_owid_date_reported_all') }}">
                          Date Reported
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'owid.url_owid_continent_all') }}">
                          Continents
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'owid.url_owid_country_all') }}">
                          Countries
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'owid.url_owid_country_one_germany') }}">
                          Germany
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'owid.url_owid_data_explorer') }}">
                          Data Explorer
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'owid.url_owid_reports') }}">
                         <i class="fas fa-chart-bar"></i> Reports
                        </a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'owid.url_owid_imported') }}">
                         <i class="fas fa-inbox"></i> imported
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'owid.url_owid_info') }}">
                          <i class="fas fa-play-circle"></i> OWID
                        </a>
                    </li>
                </ul>
