                        <tr>
                            <th scope="col">datum</th>
                            <th scope="col">location group</th>
                            <th scope="col">location</th>
                            <th scope="col">altersgruppe</th>
                            <th scope="col">geschlecht</th>
                            <!-- -->
                            <th scope="col">fall anzahl</th>
                            <th scope="col">fall neu</th>
                            <th scope="col">todesfall anzahl</th>
                            <th scope="col">todesfall neu</th>
                            <th scope="col">genesen anzahl</th>
                            <th scope="col">genesen neu</th>
                            <th scope="col">ist erkrankungsbeginn</th>
                            <th scope="col">altersgruppe2</th>
                            <!-- -->
                            <th scope="col">meldedatum datum</th>
                            <th scope="col">meldedatum year_month</th>
                            <th scope="col">meldedatum year_week</th>
                            <th scope="col">meldedatum year day_of_year</th>
                            <!-- -->
                            <th scope="col">ref datum datum</th>
                            <th scope="col">ref datum year_month</th>
                            <th scope="col">ref datum year_week</th>
                            <th scope="col">ref datum year_day_of_year</th>
                            <th scope="col">ref datum day_of_week</th>
                        </tr>

