    <div class="table-responsive">
    <table class="table table-hover table-striped table-dark">
        <thead class="table-secondary">
            {% include 'owid/country/all/owid_country_all_table_head.html' %}
        </thead>
        <tbody>
        {% for owid_country in page_data.items %}
            <tr>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid_country.id) }}">
                    {{ owid_country.location_code }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_continent_one', continent_id=owid_country.location_group.id) }}">
                        {{ owid_country.location_group.location_group }}
                    </a>
                </td>
                <td>
                    <a href="{{ url_for( 'owid.url_owid_country_one', country_id=owid_country.id) }}">
                    {{ owid_country.location }}
                    </a>
                </td>
                <td>{{ owid_country.population|round|int }}</td>
                <td>{{ owid_country.population_density|round|int }}</td>
                <td>{{ owid_country.median_age|round|int }}</td>
                <td>{{ owid_country.aged_65_older|round|int }}</td>
                <td>{{ owid_country.aged_70_older|round|int }}</td>
                <td>{{ owid_country.gdp_per_capita|round|int }}</td>
                <td>{{ owid_country.extreme_poverty|round|int}}</td>
                <td>{{ owid_country.cardiovasc_death_rate|round|int }}</td>
                <td>{{ owid_country.diabetes_prevalence|round|int }}</td>
                <td>{{ owid_country.female_smokers|round|int }}</td>
                <td>{{ owid_country.male_smokers|round|int }}</td>
                <td>{{ owid_country.handwashing_facilities|round|int }}</td>
                <td>{{ owid_country.hospital_beds_per_thousand|round|int }}</td>
                <td>{{ owid_country.life_expectancy|round|int }}</td>
                <td>{{ owid_country.human_development_index|round|int }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot class="table-secondary">
            {% include 'owid/country/all/owid_country_all_table_head.html' %}
        </tfoot>
    </table>
    </div>
