{% extends 'app_application/layout/page_layout.html' %}

{% block navtabs %}
    {% include 'app_admin/navigation/app_admin_navtabs.html' %}
{% endblock %}

{% block content %}
    {{super()}}

    <div class="container">
      <h4>DB Import Status</h4>
      <div class="table-responsive">
      <table class="bg-dark">
        <thead>
            <th></th>
            <th class="p-2 bg-secondary text-white">data_class</th>
            <th class="p-2 bg-secondary text-white">import_class</th>
            <th class="p-2 bg-secondary text-white">data_count</th>
            <th class="p-2 bg-secondary text-white">import_count</th>
            <th class="p-2 bg-secondary text-white">file_count</th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
        <tr>
            <th class="p-2 bg-secondary text-white">WHO</th>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['WHO']['data_class'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['WHO']['import_class'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['WHO']['data_count'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['WHO']['import_count'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['WHO']['file_count'] }}
            </td>
            <td>
              <a class="btn btn-secondary" href="#" role="button">
                <i class="fas fa-play-circle"></i> who-download
              </a>
              <a class="btn btn-secondary" href="#" role="button">
                <i class="fas fa-play-circle"></i> who-import
              </a>
              <a class="btn btn-secondary" href="#" role="button">
                <i class="fas fa-play-circle"></i> who-update
              </a>
            </td>
        </tr>
        <tr>
            <th class="p-2 bg-secondary text-white">OWID</th>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['OWID']['data_class'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['OWID']['import_class'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['OWID']['data_count'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['OWID']['import_count'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['OWID']['file_count'] }}
            </td>
            <td>
              <a class="btn btn-secondary" href="#" role="button">
                <i class="fas fa-play-circle"></i> owid-download
              </a>
              <a class="btn btn-secondary" href="#" role="button">
                <i class="fas fa-play-circle"></i> owid-import
              </a>
              <a class="btn btn-secondary" href="#" role="button">
                <i class="fas fa-play-circle"></i> owid-update
              </a>
            </td>
        </tr>
        <tr>
            <th class="p-2 bg-secondary text-white">ECDC</th>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['ECDC']['data_class'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['ECDC']['import_class'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['ECDC']['data_count'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['ECDC']['import_count'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['ECDC']['file_count'] }}
            </td>
            <td>
              <a class="btn btn-secondary" href="#" role="button">
                <i class="fas fa-play-circle"></i> ecdc-download
              </a>
              <a class="btn btn-secondary" href="#" role="button">
                <i class="fas fa-play-circle"></i> ecdc-import
              </a>
              <a class="btn btn-secondary" href="#" role="button">
                <i class="fas fa-play-circle"></i> ecdc-update
              </a>
            </td>
        </tr>
        <tr>
            <th class="p-2 bg-secondary text-white">Vaccination</th>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['Vaccination']['data_class'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['Vaccination']['import_class'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['Vaccination']['data_count'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['Vaccination']['import_count'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['Vaccination']['file_count'] }}
            </td>
            <td>
              <a class="btn btn-secondary" href="#" role="button">
                <i class="fas fa-play-circle"></i> vacc-download
              </a>
              <a class="btn btn-secondary" href="#" role="button">
                <i class="fas fa-play-circle"></i> vacc-import
              </a>
              <a class="btn btn-secondary" href="#" role="button">
                <i class="fas fa-play-circle"></i> vacc-update
              </a>
            </td>
        </tr>
        <tr class="m-2">
            <th class="p-2 bg-secondary text-white">RKI</th>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['RKI']['data_class'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['RKI']['import_class'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['RKI']['data_count'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['RKI']['import_count'] }}
            </td>
            <td class="p-2 bg-dark text-white">
              {{ db_import_status['RKI']['file_count'] }}
            </td>
            <td>
              <a class="btn btn-secondary" href="#" role="button">
                <i class="fas fa-play-circle"></i> rki-download
              </a>
              <a class="btn btn-secondary" href="#" role="button">
                <i class="fas fa-play-circle"></i> rki-import
              </a>
              <a class="btn btn-secondary" href="#" role="button">
                <i class="fas fa-play-circle"></i> rki-update
              </a>
            </td>
        </tr>
        </tbody>
      </table>
      </div>
      <p></p>
      <div>
        <a class="btn btn-secondary" href="#" role="button">
          <i class="fas fa-play-circle"></i> all-download
        </a>
        <a class="btn btn-secondary" href="#" role="button">
          <i class="fas fa-play-circle"></i> all-import
        </a>
        <a class="btn btn-secondary" href="#" role="button">
          <i class="fas fa-play-circle"></i> all-update
        </a>
      </div>
    </div>
{% endblock %}

{% block footer_container %}

{% endblock %}
