{% extends 'app_application/layout/page_layout.html' %}

{% block navtabs %}
    {% include 'app_admin/navigation/app_admin_navtabs.html' %}
{% endblock %}

{% block content %}
    {{super()}}

    <div class="container">
      <h4>DB Import Status</h4>
      <table class="bg-dark">
        <tr>
          <td colspan="10">
            <span class="d-flex p-4 justify-content-center">WHO</span>
          </td>
        </tr>
        <tr>
            <td class="d-inline p-2 bg-secondary text-white">data_class</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">import_class</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">data_count</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">import_count</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">file_count</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
        </tr>
        <tr>
          <td colspan="10">
            <span class="d-flex p-4 justify-content-center">OWID</span>
          </td>
        </tr>
        <tr>
            <td class="d-inline p-2 bg-secondary text-white">data_class</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">import_class</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">data_count</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">import_count</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">file_count</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
        </tr>
        <tr>
          <td colspan="10">
            <span class="d-flex p-4 justify-content-center">ECDC</span>
          </td>
        </tr>
        <tr>
            <td class="d-inline p-2 bg-secondary text-white">data_class</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">import_class</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">data_count</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">import_count</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">file_count</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
        </tr>
        <tr>
          <td colspan="10">
            <span class="d-flex p-4 justify-content-center">Vaccination</span>
          </td>
        </tr>
        <tr>
            <td class="d-inline p-2 bg-secondary text-white">data_class</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">import_class</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">data_count</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">import_count</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">file_count</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
        </tr>
        <tr>
          <td colspan="10">
            <span class="d-flex p-4 justify-content-center">RKI</span>
          </td>
        </tr>
        <tr class="m-2">
            <td class="d-inline p-2 bg-secondary text-white">data_class</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">import_class</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">data_count</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">import_count</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
            <td class="d-inline p-2 bg-secondary text-white">file_count</td>
            <td class="d-inline p-2 bg-dark text-white">aaaa</td>
        </tr>
      </table>
    </div>
{% endblock %}

{% block footer_container %}

{% endblock %}
