
    <div class="container">
        <div class="row-cols-1">
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'owid.url_owid_info') }}">OWID Info</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'owid.url_owid_imported') }}">OWID imported</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'owid.url_owid_flat') }}">OWID flat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'owid.url_owid_date_reported_all') }}">OWID Date Reported</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'owid.url_owid_continent_all') }}">OWID Continents</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'owid.url_owid_country_all') }}">OWID Countries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'owid.url_owid_country_one_germany') }}">OWID Germany</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>