{% extends 'app_application/layout/page_layout.html' %}

{% block content %}
    {{super()}}
    {{super()}}
    <div class="container">
        <div class="row">
            <div class="col">
                <nav>
    {% include 'usr/navigation/usr_navtabs.html' %}
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Hi, {{ current_user.name }}!</h1>
            </div>
         </div>
     </div>
{% endblock %}




