{% extends 'app_application/layout/page_layout.html' %}

{% block navtabs %}
    {% include 'usr/navigation/usr_navtabs.html' %}
{% endblock %}

{% block content %}
    {{super()}}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="btn-group-vertical" role="group" aria-label="Views">
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'owid.url_task_owid_download_only') }}"
                       role="button">User :: Task :: download :: only</a>
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'owid.url_task_owid_import_only') }}"
                       role="button">User :: Task :: import :: only</a>
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'owid.url_task_owid_update_dimension_tables_only') }}"
                       role="button">User :: Task :: update :: dimension-tables : only</a>
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'owid.url_task_owid_update_fact_table_incremental_only') }}"
                       role="button">User :: Task :: update :: fact-table :: only :: incremental</a>
                    <a class="btn btn-secondary btn-lg btn-block text-left"
                       href="{{ url_for( 'owid.url_task_owid_update_fact_table_initial_only') }}"
                       role="button">User :: Task :: update :: fact-table :: only :: initial</a>
                </div>
            </div>
         </div>
    </div>
{% endblock %}



{% block footer_container %}

{% endblock %}
