{% extends 'app_web/layout/page_layout.html' %}

{% block navtabs %}
    {% include 'who/navigation/who_navtabs.html' %}
{% endblock %}

{% block content %}
    {{super()}}

<main>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="accordion" id="accordionCol">
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                               Task: Update
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionCol">
                            <div class="accordion-body d-block">
                                <div class="d-grid gap-2 d-block">
                                    <a class="btn btn-success btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_download_files') }}"
                                       role="button">WHO :: Task :: download</a>
                                    <a class="btn btn-info btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_import_files') }}"
                                       role="button">WHO :: Task :: import</a>
                                    <a class="btn btn-warning btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_update_dimension_tables') }}"
                                       role="button">WHO :: Task :: update :: dimension_tables</a>
                                    <a class="btn btn-secondary btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_update_fact_table') }}"
                                       role="button">WHO :: Task :: update :: fact-table</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_update') }}"
                                       role="button">WHO :: Task :: update</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_who_delete_last_day') }}"
                                       role="button">WHO :: Task :: delete last day</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Task: Full Update:
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionCol">
                            <div class="accordion-body d-block">
                                <div class="d-grid gap-2 d-block">
                                    <a class="btn btn-success btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_download_files') }}"
                                       role="button">WHO :: download</a>
                                    <a class="btn btn-info btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_import_files') }}"
                                       role="button">WHO :: import</a>
                                    <a class="btn btn-warning btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_full_update_dimension_tables') }}"
                                       role="button">WHO :: full update :: dimension_tables</a>
                                    <a class="btn btn-secondary btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_full_update_fact_table') }}"
                                       role="button">WHO :: full update :: fact_table</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_full_update') }}"
                                       role="button">WHO :: full update</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_who_delete_last_day') }}"
                                       role="button">WHO :: delete last day</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              Tests
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <div class="d-grid gap-2 d-block">
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_who_test_who_import_countries') }}"
                                       role="button">url_who_test_who_import_countries</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_who_test_who_import_get_new_dates_as_array') }}"
                                       role="button">url_who_test_who_import_get_new_dates_as_array</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_who_test_who_data_get_datum_of_all_who_data') }}"
                                       role="button">url_who_test_who_data_get_datum_of_all_who_data</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_who_test_who_data_get_datum_of_all_who_import') }}"
                                       role="button">url_who_test_who_data_get_datum_of_all_who_import</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_who_test_who_service_who_import_get_new_dates_as_array') }}"
                                       role="button">url_who_test_who_service_who_import_get_new_dates_as_array</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                              Info: Pandemic
                          </button>
                        </h2>
                        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <a class="btn btn-primary" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">
                                    novel-coronavirus-2019
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header bg-light" id="headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                              Info: WHO Dashboard
                          </button>
                        </h2>
                        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionCol">
                            <div class="accordion-body">
                                <a class="btn btn-primary" href="https://covid19.who.int/">WHO Dashboard: https://covid19.who.int</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>
</main>
{% endblock %}
