                {% if current_user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdownMenuLinkDataAll" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        All
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkDataAll">
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'app_all.url_all_info') }}">
                                All info
                            </a>
                        </li>
                    </ul>
                </li>
                {% endif %}