{% extends 'app_application/layout/page_layout.html' %}

{% block content %}
    {{super()}}
    {% include 'who/navigation/who_navtabs.html' %}

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="accordion" id="accordionCol">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseLeftOne">
                               Task: Full Update
                            </button>
                          </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionCol">
                            <div class="card-body">
                                <h4>Full Update</h4>
                                <div class="btn-group-vertical" role="group" aria-label="Views">
                                    <a class="btn btn-success btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_download_files') }}"
                                       role="button">WHO :: Task :: download</a>
                                    <a class="btn btn-info btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_import_files') }}"
                                       role="button">WHO :: Task :: import</a>
                                </div>
                                <p></p>
                                <h4>Full Update</h4>
                                <div class="btn-group-vertical" role="group" aria-label="Views">
                                    <a class="btn btn-warning btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_full_update_dimension_tables') }}"
                                       role="button">WHO :: Task :: full update :: dimension_tables</a>
                                    <a class="btn btn-secondary btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_full_update_fact_table') }}"
                                       role="button">WHO :: Task :: full update :: fact_table</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_full_update_star_schema') }}"
                                       role="button">WHO :: Task :: full update :: star_schema</a>
                                </div>
                                <p></p>
                                <h4>Full Update</h4>
                                <div class="btn-group-vertical" role="group" aria-label="Views">
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_full_update') }}"
                                       role="button">WHO :: Task :: full update</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseLeftTwo">
                                    Task: Update
                                </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionCol">
                            <div class="card-body">
                                <h4>Update</h4>
                                <div class="btn-group-vertical" role="group" aria-label="Views">
                                    <a class="btn btn-success btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_download_files') }}"
                                       role="button">WHO :: Task :: download</a>
                                    <a class="btn btn-info btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_import_files') }}"
                                       role="button">WHO :: Task :: import</a>
                                </div>
                                <p></p>
                                <h4>Update</h4>
                                <div class="btn-group-vertical" role="group" aria-label="Views">
                                    <a class="btn btn-warning btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_update_dimension_tables') }}"
                                       role="button">WHO :: Task :: update :: dimension_tables</a>
                                    <a class="btn btn-secondary btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_update_fact_table') }}"
                                       role="button">WHO :: Task :: update :: fact-table</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_update_star_schema') }}"
                                       role="button">WHO :: Task :: update :: star_schema</a>
                                </div>
                                <p></p>
                                <h4>Update</h4>
                                <div class="btn-group-vertical" role="group" aria-label="Views">
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_update') }}"
                                       role="button">WHO :: Task :: update</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                          <h2 class="mb-0">
                            <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                               Tests
                            </button>
                          </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionCol">
                            <div class="card-body">
                                <h4>Tests</h4>
                                <div class="btn-group-vertical" role="group" aria-label="Views">
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_who_test_who_import_countries') }}"
                                       role="button">url_who_test_who_import_countries</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_who_test_who_import_get_new_dates_as_array') }}"
                                       role="button">url_who_test_who_import_get_new_dates_as_array</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_who_test_who_data_get_datum_of_all_who_data') }}"
                                       role="button">url_who_test_who_data_get_datum_of_all_who_data</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_who_test_who_data_get_datum_of_all_who_import') }}"
                                       role="button">url_who_test_who_data_get_datum_of_all_who_import</a>
                                    <a class="btn btn-danger btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_who_test_who_service_who_import_get_new_dates_as_array') }}"
                                       role="button">url_who_test_who_service_who_import_get_new_dates_as_array</a>
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_who_test_who_test_service_delete_last_days_data') }}"
                                       role="button">url_who_test_who_test_service_delete_last_days_data</a>
                                </div>
                                <p></p>
                                <div class="btn-group-vertical" role="group" aria-label="Views">
                                    <a class="btn btn-primary btn-lg btn-block text-left"
                                       href="{{ url_for( 'who.url_task_who_test_update_star_schema_incremental') }}"
                                       role="button">url_task_who_test_update_star_schema_incremental</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                    Info: Pandemic
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionCol">
                            <div class="card-body">
                                <h4>Pandemic</h4>
                                <a class="btn btn-primary" href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019">
                                    novel-coronavirus-2019
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                    Info: WHO Dashboard
                                </button>
                            </h2>
                        </div>
                        <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordionCol">
                            <div class="card-body">
                                <h4>WHO Dashboard</h4>
                                <a class="btn btn-primary" href="https://covid19.who.int/">https://covid19.who.int</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
     </div>
{% endblock %}




