{% extends 'app_application/layout/page_layout.html' %}

{% block navtabs %}
    {% include 'ecdc/navigation/ecdc_navtabs.html' %}
{% endblock %}

{% block content %}
    {{super()}}

    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'ecdc/date_reported/one/ecdc_date_reported_one_pagination.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include 'ecdc/ecdc_data/ecdc_data_table.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% include 'ecdc/date_reported/one/ecdc_date_reported_one_pagination.html' %}
            </div>
        </div>
    </div>
{% endblock %}


{% block footer_container %}
    <div>
        {% for error in errors %}
            <h4>{{ error }}</h4>
        {% endfor %}
    </div>
{% endblock %}
