    <div class="container">
        <div class="row-cols-1">
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for('rki.url_rki_info') }}">
                            RKI Info
                        </a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('rki.url_rki_imported') }}">
                            RKI imported
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('rki.url_rki_flat') }}">
                            RKI flat
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for( 'rki.url_rki_date_reported_all') }}">
                            RKI Date Reported
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for( 'rki.url_rki_bundesland_all') }}">
                            RKI Bundesland
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>