{% extends 'app_web/layout/page_layout.html' %}

{% block navtabs %}
    {% include 'app_web_admin/navigation/app_admin_navtabs.html' %}
{% endblock %}

{% block content %}
    {{super()}}

    <div class="container">
      <div class="table-responsive">
      <table class="table table-hover table-dark table-striped caption-top">
        <caption>DB Import Status</caption>
        <thead class="table-secondary">
            <th scope="col">&nbsp;</th>
            <th scope="col">dimension class</th>
            <th scope="col">dimension class count</th>
            <th scope="col"><i class="fas fa-play-circle"></i> dimension update</th>
            <th scope="col">data class</th>
            <th scope="col">data class count</th>
            <th scope="col"><i class="fas fa-play-circle"></i> data update</th>
            <th scope="col">import class</th>
            <th scope="col">import class count</th>
            <th scope="col"><i class="fas fa-play-circle"></i> import</th>
            <th scope="col">file row count</th>
            <th scope="col"><i class="fas fa-play-circle"></i> download</th>
        </thead>
        <tbody>
        <tr>
            <th scope="row" class="table-secondary">WHO</th>
            <td></td>
            <td></td>
            <td>
                <a class="btn btn-secondary btn-sm"
                   href="{{ url_for( 'who.url_task_who_update_dimension_tables') }}"
                   role="button">
                  <i class="fas fa-play-circle"></i> who-update-dimensions
                </a>
            </td>
            <td>{{ db_import_status['WHO']['data_class'] }}</td>
            <td>{{ db_import_status['WHO']['data_count'] }}</td>
            <td>
              <a class="btn btn-secondary btn-sm"
                 href="{{ url_for( 'who.url_task_who_update') }}" role="button">
                <i class="fas fa-play-circle"></i> who-update
              </a>
            </td>
            <td>{{ db_import_status['WHO']['import_class'] }}</td>
            <td>{{ db_import_status['WHO']['import_count'] }}</td>
            <td>
              <a class="btn btn-secondary btn-sm"
                 href="{{ url_for( 'who.url_task_who_import_files') }}" role="button">
                <i class="fas fa-play-circle"></i> who-import
              </a>
            </td>
            <td>{{ db_import_status['WHO']['file_count'] }}</td>
            <td>
              <a class="btn btn-secondary btn-sm"
                 href="{{ url_for( 'who.url_download_files') }}" role="button">
                <i class="fas fa-play-circle"></i> who-download
              </a>
            </td>
        </tr>
        <tr>
            <th class="table-secondary">OWID</th>
            <td></td>
            <td></td>
            <td>
                <a class="btn btn-secondary btn-sm"
                   href="{{ url_for( 'owid.url_task_owid_update_dimension_tables') }}"
                   role="button">
                  <i class="fas fa-play-circle"></i> owid-update-dimensions
                </a>
            </td>
            <td>{{ db_import_status['OWID']['data_class'] }}</td>
            <td>{{ db_import_status['OWID']['data_count'] }}</td>
            <td>
              <a class="btn btn-secondary btn-sm"
                 href="{{ url_for( 'owid.url_task_owid_update') }}" role="button">
                <i class="fas fa-play-circle"></i> owid-update
              </a>
            </td>
            <td>{{ db_import_status['OWID']['import_class'] }}</td>
            <td>{{ db_import_status['OWID']['import_count'] }}</td>
            <td>
              <a class="btn btn-secondary btn-sm"
                 href="{{ url_for( 'owid.url_task_owid_import') }}" role="button">
                <i class="fas fa-play-circle"></i> owid-import
              </a>
            </td>
            <td>{{ db_import_status['OWID']['file_count'] }}</td>
            <td>
              <a class="btn btn-secondary btn-sm"
                 href="{{ url_for( 'owid.url_task_owid_download') }}" role="button">
                <i class="fas fa-play-circle"></i> owid-download
              </a>
            </td>
        </tr>
        <tr>
            <th class="table-secondary">ECDC</th>
            <td></td>
            <td></td>
            <td>
                <a class="btn btn-secondary btn-sm"
                   href="{{ url_for( 'ecdc.url_ecdc_task_update_dimension_tables') }}"
                   role="button">
                  <i class="fas fa-play-circle"></i> ecdc-update-dimensions
                </a>
            </td>
            <td>{{ db_import_status['ECDC']['data_class'] }}</td>
            <td>{{ db_import_status['ECDC']['data_count'] }}</td>
            <td>
              <a class="btn btn-secondary btn-sm"
                 href="{{ url_for( 'ecdc.url_task_ecdc_update') }}" role="button">
                <i class="fas fa-play-circle"></i> ecdc-update
              </a>
            </td>
            <td>{{ db_import_status['ECDC']['import_class'] }}</td>
            <td>{{ db_import_status['ECDC']['import_count'] }}</td>
            <td>
              <a class="btn btn-secondary btn-sm"
                 href="{{ url_for( 'ecdc.url_ecdc_task_import') }}" role="button">
                <i class="fas fa-play-circle"></i> ecdc-import
              </a>
            </td>
            <td>{{ db_import_status['ECDC']['file_count'] }}</td>
            <td>
              <a class="btn btn-secondary btn-sm"
                 href="{{ url_for( 'ecdc.url_ecdc_task_download') }}" role="button">
                <i class="fas fa-play-circle"></i> ecdc-download
              </a>
            </td>
        </tr>
        <tr>
            <th class="table-secondary">Vaccination</th>
            <td></td>
            <td></td>
            <td>
                <a class="btn btn-secondary btn-sm"
                   href="{{ url_for( 'vaxx.url_task_vaccination_update_dimension_tables') }}"
                   role="button">
                  <i class="fas fa-play-circle"></i> vacc-update-dimensions
                </a>
            </td>
            <td>{{ db_import_status['Vaccination']['data_class'] }}</td>
            <td>{{ db_import_status['Vaccination']['data_count'] }}</td>
            <td>
              <a class="btn btn-secondary btn-sm"
                 href="{{ url_for( 'vaxx.url_task_vaccination_update') }}"
                 role="button">
                <i class="fas fa-play-circle"></i> vacc-update
              </a>
            </td>
            <td>{{ db_import_status['Vaccination']['import_class'] }}</td>
            <td>{{ db_import_status['Vaccination']['import_count'] }}</td>
            <td>
              <a class="btn btn-secondary btn-sm"
                 href="{{ url_for( 'vaxx.url_task_vaccination_import') }}"
                 role="button">
                <i class="fas fa-play-circle"></i> vacc-import
              </a>
            </td>
            <td>{{ db_import_status['Vaccination']['file_count'] }}</td>
            <td>
              <a class="btn btn-secondary btn-sm"
                 href="{{ url_for( 'vaxx.url_task_vaccination_download') }}"
                 role="button">
                <i class="fas fa-play-circle"></i> vacc-download
              </a>
            </td>
        </tr>
        <tr class="">
            <th class="table-secondary">RKI</th>
            <td></td>
            <td></td>
            <td>
                <a class="btn btn-secondary btn-sm"
                   href="{{ url_for( 'rki.url_task_rki_update_dimension_tables') }}"
                   role="button">
                  <i class="fas fa-play-circle"></i> rki-update-dimensions
                </a>
            </td>
            <td>{{ db_import_status['RKI']['data_class'] }}</td>
            <td>{{ db_import_status['RKI']['data_count'] }}</td>
            <td>
              <a class="btn btn-secondary btn-sm"
                   href="{{ url_for( 'rki.url_task_rki_update_fact_table') }}"
                   role="button">
                  <i class="fas fa-play-circle"></i> rki-update-data
              </a>
            </td>
            <td>{{ db_import_status['RKI']['import_class'] }}</td>
            <td>{{ db_import_status['RKI']['import_count'] }}</td>
            <td>
              <a class="btn btn-secondary btn-sm"
                 href="{{ url_for( 'rki.url_task_rki_import') }}"
                 role="button">
                <i class="fas fa-play-circle"></i> rki-import
              </a>
            </td>
            <td>{{ db_import_status['RKI']['file_count'] }}</td>
            <td>
              <a class="btn btn-secondary btn-sm"
                 href="{{ url_for( 'rki.url_task_rki_download') }}"
                 role="button">
                <i class="fas fa-play-circle"></i> rki-download
              </a>
            </td>
        </tr>
        </tbody>
        <tfoot class="table-light">
        <tr>
          <th scope="col" class="table-light">&nbsp;</th>
          <th scope="col" colspan="5">&nbsp;</th>
          <th scope="col">
            <a class="btn btn-secondary"
               href="{{ url_for( 'data_all.url_task_all_update') }}"
               role="button">
              <i class="fas fa-play-circle"></i> all-update
            </a>
          </th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
         <th scope="col">
            <a class="btn btn-secondary"
               href="{{ url_for( 'data_all.url_task_all_import') }}"
               role="button">
              <i class="fas fa-play-circle"></i> all-import
            </a>
          </th>
          <th scope="col">&nbsp;</th>
         <th scope="col">
            <a class="btn btn-secondary"
               href="{{ url_for( 'data_all.url_task_all_download') }}"
               role="button">
              <i class="fas fa-play-circle"></i> all-download
            </a>
          </th>
        </tr>
        </tfoot>
      </table>
      </div>
    </div>
{% endblock %}

{% block footer_container %}

{% endblock %}
