wheel
pip-tools
pipenv
virtualenv
pytoolbox
python-dotenv
Flask
urllib3>=1.26.5
Pallets-Sphinx-Themes
sphinx
pytest
pytest-runner
pytest-flask
pytest-flask-sqlalchemy
Flask-SQLAlchemy
#Flask-SQLAlchemy-Booster
Flask-Migrate
Flask-Cors
Flask-BS4
Flask-Admin
Flask-Login
flask-login-dictabase-blueprint
SQLAlchemy
sqlalchemy-mixins
mysql-connector-python
mysqldb-wrapper
mariadb
urllib3>=1.26.5
wget
email_validator
celery[redis,sqlalchemy,auth,msgpack,eventlet]>=5.1
dataframetodb
pangres
scipy
matplotlib
statsmodels
pandas
