
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"
                       id="navbarDropdownMenuLinkDataAdmin" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Admin
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLinkDataAdmin">
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'app_admin.url_admin_info') }}">
                                Admin
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'app_admin.url_admin_tasks') }}">
                                admin tasks
                            </a>
                        </li>
                        {% endif %}
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'app_admin.url_admin_info') }}">
                                admin info
                            </a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'app_admin.url_task_admin_alive_message') }}">
                                Task: Admin :: alive message
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'app_admin.url_task_admin_database_dropcreate') }}">
                                Task: Admin :: database :: drop and create
                            </a>
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'app_admin.url_task_admin_database_dump') }}">
                                Task: Admin :: database :: dump
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ url_for( 'app_admin.url_task_admin_database_dump_reimport') }}">
                                Task: Admin :: database :: dump :: reimport
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </li>