            <tr>
                <th scope="col">iso code</th>
                <th scope="col">continent</th>
                <th scope="col">location</th>
                <th scope="col">date</th>
                <th scope="col">total cases</th>
                <th scope="col">new cases</th>
                <th scope="col">new cases smoothed</th>
                <th scope="col">total deaths</th>
                <th scope="col">new deaths</th>
                <th scope="col">new deaths smoothed</th>
                <th scope="col">total cases per million</th>
                <th scope="col">new cases per million</th>
                <th scope="col">new cases smoothed per million</th>
                <th scope="col">total deaths per million</th>
                <th scope="col">new deaths per million</th>
                <th scope="col">new deaths smoothed per million</th>
                <th scope="col">reproduction rate</th>
                <th scope="col">icu patients</th>
                <th scope="col">icu patients per million</th>
                <th scope="col">hosp patients</th>
                <th scope="col">hosp patients per million</th>
                <th scope="col">weekly icu admissions</th>
                <th scope="col">weekly icu admissions per million</th>
                <th scope="col">weekly hosp admissions</th>
                <th scope="col">weekly hosp admissions per million</th>
                <th scope="col">new tests</th>
                <th scope="col">total tests</th>
                <th scope="col">total tests per thousand</th>
                <th scope="col">new tests per thousand</th>
                <th scope="col">new tests smoothed</th>
                <th scope="col">new tests smoothed per thousand</th>
                <th scope="col">positive rate</th>
                <th scope="col">tests per case</th>
                <th scope="col">tests units</th>
                <th scope="col">total vaccinations</th>
                <th scope="col">people vaccinated</th>
                <th scope="col">people fully vaccinated</th>
                <th scope="col">new vaccinations</th>
                <th scope="col">new vaccinations_smoothed</th>
                <th scope="col">total vaccinations per hundred</th>
                <th scope="col">people vaccinated per hundred</th>
                <th scope="col">people fully vaccinated per hundred</th>
                <th scope="col">new vaccinations smoothed per million</th>
                <th scope="col">stringency index</th>
                <th scope="col">population</th>
                <th scope="col">population density</th>
                <th scope="col">median age</th>
                <th scope="col">aged 65 older</th>
                <th scope="col">aged 70 older</th>
                <th scope="col">gdp per capita</th>
                <th scope="col">extreme poverty</th>
                <th scope="col">cardiovasc death rate</th>
                <th scope="col">diabetes prevalence</th>
                <th scope="col">female smokers</th>
                <th scope="col">male smokers</th>
                <th scope="col">handwashing facilities</th>
                <th scope="col">hospital beds per thousand</th>
                <th scope="col">life expectancy</th>
                <th scope="col">human development index</th>
            </tr>

