                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'who.url_who_date_reported_all') }}">
                          <i class="far fa-clock"></i> Date Reported
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'who.url_who_region_all') }}">
                          <i class="fas fa-globe-americas"></i> Regions
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'who.url_who_country_all') }}">
                          <i class="fas fa-globe-americas"></i> Countries
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'who.url_who_germany') }}">
                          <i class="fas fa-globe-americas"></i> Germany
                        </a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'who.url_who_imported') }}">
                          <i class="fas fa-inbox"></i> imported
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                           href="#">
                         <i class="fas fa-chart-bar"></i> Reports
                        </a>
                    </li>
                    {% endif %}<li class="nav-item">
                        <a class="nav-link"
                           href="{{ url_for( 'who.url_who_info') }}">
                          <i class="fas fa-play-circle"></i> WHO
                        </a>
                    </li>
                </ul>
